body{
    background-color: #eee
}

/* Navbar */
.navbar-inverse .navbar-nav>li>a {
    color: #dedede;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #0b60bf;
}
.navbar-inverse a.navbar-brand{
    margin-top: -3px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #0b60bf;
}


/* Register */
.box-form{
    background: white;
    border: 1px solid #cccccc;
    padding: 0 20px 20px 20px;
}

.box-form input{
    margin-bottom: 10px;
}

/* Footer*/
.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 10px;
}