
{% extends "@App/Layouts/layout.html.twig" %}
{% block content %}
    <div class="container">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione amet, ullam nisi saepe nam voluptatem, ab ipsa eius quibusdam voluptate quidem voluptatum error ducimus, esse praesentium quod ipsum qui quia.</div> 
{% endblock %}
